#dictionary is a data structure that stores data as key value pair
#keys are unique and immutable
#note:dictionaries are unordred.but from python 3.7 version, dictionaries retain the order of insertion
#this means that if you iterate over a dictionary, the items will be returned in the order they were added

In [1]:
d = {}
type(d)

dict

In [2]:
d = {"name":"komal", "email":"komaltiwarima@gmail.com", "contact":1234}
d

{'name': 'komal', 'email': 'komaltiwarima@gmail.com', 'contact': 1234}

In [3]:
type(d)

dict

In [6]:
l = [1, 2, 3, 4]
l[0]

1

In [7]:
d['name']

'komal'

In [8]:
d['name'] = "ruhi"
d

{'name': 'ruhi', 'email': 'komaltiwarima@gmail.com', 'contact': 1234}

In [9]:
d = {"address": "26th cross, kolkata"}
d["address"]

'26th cross, kolkata'

In [10]:
d = {"key":1}
d["key"]

1

In [11]:
d[1] #you can only access value using key, vice -versa not possible

KeyError: 1

In [12]:
#rules of defining keys
d = {1:"abc"}
d

{1: 'abc'}

In [13]:
d = {1.2: "abc"} #float as key
d

{1.2: 'abc'}

In [14]:
d = {True: "any value"} #boolean value also can be key of dictionary
d

{True: 'any value'}

In [15]:
d = {#: 123} #you cannot ha e# as a key

SyntaxError: incomplete input (679592685.py, line 1)

In [16]:
d = {@: "kom"}

SyntaxError: invalid syntax (2799886206.py, line 1)

In [17]:
d = {[1, 2, 3]:"shyam"}

TypeError: unhashable type: 'list'

In [18]:
d = {(1, 2, 3): "abc"}
d

{(1, 2, 3): 'abc'}

In [19]:
type(d)

dict

In [20]:
d = {{1, 2, 3}: "luky"}

TypeError: unhashable type: 'set'

In [21]:
d = {{"key":123} : "komal"}

TypeError: unhashable type: 'dict'

In [22]:
#only string and numbers can be used as a key of the dictionary
d

{(1, 2, 3): 'abc'}

In [1]:
d = {"name": "komal", "email": 'kt@gmail.com', 'contact': 1234}
d

{'name': 'komal', 'email': 'kt@gmail.com', 'contact': 1234}

In [2]:
{'name': ['komal', 'shubham', 1, 2],
 'email': 'kt@gmail.com',
 'contact': (1234, 678)}

{'name': ['komal', 'shubham', 1, 2],
 'email': 'kt@gmail.com',
 'contact': (1234, 678)}

In [4]:
d['name'][1]

'o'

In [5]:
d

{'name': 'komal', 'email': 'kt@gmail.com', 'contact': 1234}

In [4]:
#always the last key will be used
d = {"name": "komal", "email": 'kt@gmail.com', 'contact': 1234, "name": "komalll"}

In [5]:
d

{'name': 'komalll', 'email': 'kt@gmail.com', 'contact': 1234}

In [6]:
d['name'] = "sanjay"

In [7]:
d

{'name': 'sanjay', 'email': 'kt@gmail.com', 'contact': 1234}

In [8]:
d = {'name': ['sanjay', 'ajay',1, 2], 'email': 'ko@gmail.com', 'contact':(1234, 678 ) }

In [9]:
d

{'name': ['sanjay', 'ajay', 1, 2],
 'email': 'ko@gmail.com',
 'contact': (1234, 678)}

In [10]:
d['name'][1]

'ajay'

In [11]:
d

{'name': ['sanjay', 'ajay', 1, 2],
 'email': 'ko@gmail.com',
 'contact': (1234, 678)}

In [12]:
d['address'] = 'bangalore' #to crate a new value pair

In [13]:
d

{'name': ['sanjay', 'ajay', 1, 2],
 'email': 'ko@gmail.com',
 'contact': (1234, 678),
 'address': 'bangalore'}

In [14]:
del d["address"] #to delete a key value pair

In [15]:
d

{'name': ['sanjay', 'ajay', 1, 2],
 'email': 'ko@gmail.com',
 'contact': (1234, 678)}

In [16]:
del d # delete the whole dictionary

In [17]:
d

NameError: name 'd' is not defined

In [18]:
d = {'name': ['sanjay', 'ajay',1, 2], 'email': 'ko@gmail.com', 'contact':(1234, 678 ) }
d

{'name': ['sanjay', 'ajay', 1, 2],
 'email': 'ko@gmail.com',
 'contact': (1234, 678)}

In [19]:
d.clear() #empty dictionary
d

{}

In [20]:
d = {'name': ['sanjay', 'ajay',1, 2], 'email': 'ko@gmail.com', 'contact':(1234, 678 ) }
len(d)

3

In [21]:
d.keys()

dict_keys(['name', 'email', 'contact'])

In [22]:
d.values()

dict_values([['sanjay', 'ajay', 1, 2], 'ko@gmail.com', (1234, 678)])

In [23]:
d1 = d.copy()

In [24]:
d1

{'name': ['sanjay', 'ajay', 1, 2],
 'email': 'ko@gmail.com',
 'contact': (1234, 678)}

In [25]:
del d1

In [26]:
d1

NameError: name 'd1' is not defined

In [27]:
d

{'name': ['sanjay', 'ajay', 1, 2],
 'email': 'ko@gmail.com',
 'contact': (1234, 678)}

In [28]:
d.pop("contact")

(1234, 678)

In [29]:
d

{'name': ['sanjay', 'ajay', 1, 2], 'email': 'ko@gmail.com'}

In [30]:
d1 = {"course": "ds"}
d1

{'course': 'ds'}

In [31]:
d.update(d1)
d

{'name': ['sanjay', 'ajay', 1, 2], 'email': 'ko@gmail.com', 'course': 'ds'}

In [32]:
d["name"]

['sanjay', 'ajay', 1, 2]

In [33]:
d.get("name")

['sanjay', 'ajay', 1, 2]

In [34]:
d

{'name': ['sanjay', 'ajay', 1, 2], 'email': 'ko@gmail.com', 'course': 'ds'}

In [35]:
d["course"]

'ds'

In [36]:
len(d)

3

In [37]:
#from keys
d.fromkeys((1, 2, 3), ("a", "b", "c"))

{1: ('a', 'b', 'c'), 2: ('a', 'b', 'c'), 3: ('a', 'b', 'c')}

In [38]:
#dictionary comprhension

#zip function
students = ["arun", "ajay","bijay"]
marks = [80, 95, 100]

for i in zip(students, marks):
    print(i)

('arun', 80)
('ajay', 95)
('bijay', 100)

In [40]:
# store the above info as key value pair >> dict
students = ["k", "s", "d"]
marks = [2, 5, 8]
students_marks = {}
for student, mark in zip(students, marks):
    students_marks[student] = mark

In [41]:
students_marks

{'k': 2, 's': 5, 'd': 8}

In [42]:
#using dictionary comprehension method
students = ["k", "d", "z"]
marks = [2,5,9]
{student:marks for student, mark in zip(students, marks)}

{'k': [2, 5, 9], 'd': [2, 5, 9], 'z': [2, 5, 9]}

In [5]:
#use case
user_id = [1, 4,8]
user_name = ["a21", "122", "a23"]

In [6]:
user_id

[1, 4, 8]

In [7]:
user_name

['a21', '122', 'a23']

In [8]:
{u_id:u_name for u_id, u_name in zip(user_id, user_name)}

{1: 'a21', 4: '122', 8: 'a23'}

In [9]:
employee_records = {
    'E001': {'name': 'johm', 'department': 'Engineering', 'salary': 70000},
    'E002': {'name': 'rahul', 'department': 'marketing', 'salary': 60000},
    'E003': {'name': 'mohit', 'department': 'finance', 'salary': 50000},
}

In [10]:
employee_records

{'E001': {'name': 'johm', 'department': 'Engineering', 'salary': 70000},
 'E002': {'name': 'rahul', 'department': 'marketing', 'salary': 60000},
 'E003': {'name': 'mohit', 'department': 'finance', 'salary': 50000}}

In [11]:
type(employee_records)

dict

In [12]:
employee_records.get('E001')

{'name': 'johm', 'department': 'Engineering', 'salary': 70000}

In [13]:
#dictionary view object
employee_records.keys()

dict_keys(['E001', 'E002', 'E003'])

In [14]:
employee_records.values()

dict_values([{'name': 'johm', 'department': 'Engineering', 'salary': 70000}, {'name': 'rahul', 'department': 'marketing', 'salary': 60000}, {'name': 'mohit', 'department': 'finance', 'salary': 50000}])

In [15]:
for key, value in employee_records.items(): #iterate both key and value
    print(key,value)

E001 {'name': 'johm', 'department': 'Engineering', 'salary': 70000}
E002 {'name': 'rahul', 'department': 'marketing', 'salary': 60000}
E003 {'name': 'mohit', 'department': 'finance', 'salary': 50000}

In [18]:
#iterate over only keys
for key in employee_records.keys():
    print(key)

E001
E002
E003

In [20]:
for value in employee_records.values():
    print(value)

{'name': 'johm', 'department': 'Engineering', 'salary': 70000}
{'name': 'rahul', 'department': 'marketing', 'salary': 60000}
{'name': 'mohit', 'department': 'finance', 'salary': 50000}