In [ ]:
#datastructure>> string,lists,tuples,dictionary,array

#lists> you can store anything in list>>can store hetergenous data
#list is an ordered collection of elements  that can be of any datatype
#lists are mutable

In [1]:
num = [1,2,3,4,5]

In [2]:
num

[1, 2, 3, 4, 5]

In [3]:
type(num)

list

In [4]:
num[0]

1

In [5]:
num[1]

2

In [6]:
num[-4]

2

In [7]:
num[5]

IndexError: list index out of range

In [11]:
a = [1, 2, 3.3, 'komal', True , False , (5+6j)]

In [12]:
a

[1, 2, 3.3, 'komal', True, False, (5+6j)]

In [13]:
#lists can store hetergenous data
type(a)

list

In [14]:
#adding element to the lists
a

[1, 2, 3.3, 'komal', True, False, (5+6j)]

In [15]:
a.append("orange")

In [16]:
a

[1, 2, 3.3, 'komal', True, False, (5+6j), 'orange']

In [17]:
a.remove("orange")

In [18]:
a

[1, 2, 3.3, 'komal', True, False, (5+6j)]

In [19]:
#list inside list
lis = [[1, 2, 3], [4,  5, 6], [7, 8, 9]]

In [20]:
lis

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [21]:
type(lis)

list

In [22]:
lis[0]

[1, 2, 3]

In [23]:
lis[0][1]

2

In [24]:
lis[1][1]

5

In [25]:
#list is mutable
shopping_list = ["lemon", "apple", 2, 3.4, True]
shopping_list[0]

'lemon'

In [26]:
shopping_list[0] = "dhaniya"

In [27]:
shopping_list

['dhaniya', 'apple', 2, 3.4, True]

In [30]:
for item in shopping_list: # iterate in list
    print(item, end = " ")

dhaniya apple 2 3.4 True

In [33]:
#tuples >> immutable
# use parenthesis ()
#use of  list >> can store any data and it is mutable
point = (2, 3)

In [32]:
type(point)

tuple

In [34]:
#use cases > adhar card number detail> ypu won't be changed
t = (1, 2, 3.3, True, 5+6j, "komal") #tuples can also store hetergenous data

In [35]:
type(t)

tuple

In [36]:
emp_name = ("komal", "komal1", "seets", "reta")

In [37]:
type(emp_name)

tuple

In [38]:
emp_name[0]

'komal'

In [39]:
emp_name[2] = "komal"

TypeError: 'tuple' object does not support item assignment

In [40]:
box1 = ("a", "b") # iterate the tuple
box2 = ("c", "d")
choc_bag = (box1 , box2)

In [41]:
choc_bag

(('a', 'b'), ('c', 'd'))

In [42]:
type(choc_bag)

tuple

In [43]:
for box in choc_bag:
    for choc in box:
        print(choc)

a
b
c
d

In [44]:
#sets > are unordered collection of unique element
s = {"red", "orange"}

In [45]:
type(s)

set

In [46]:
s

{'orange', 'red'}

In [47]:
s = {"red", "red", "blue", "purple"}

In [48]:
s

{'blue', 'purple', 'red'}

In [51]:
s = {"a", 1, "a", 2.2, True, 5+6j}

In [52]:
s

{(5+6j), 1, 2.2, 'a'}

In [53]:
s[0]#error> no concept of indexing as it is unordered and unique

TypeError: 'set' object is not subscriptable

In [54]:
#add element to the list
s.add("komal") #mutable sets

In [55]:
s

{(5+6j), 1, 2.2, 'a', 'komal'}

In [56]:
s.remove(2.2)

In [57]:
s

{(5+6j), 1, 'a', 'komal'}

In [59]:
#use case of sets > to get unique element
grocery_list = {"apple", "banana", "banana", "egg", "egg"}
grocery_list

{'apple', 'banana', 'egg'}

In [60]:
#dictionary> fastest data structure> stores the data in the form of key value pair
my_dict = {}

In [61]:
type(my_dict)

dict

In [62]:
my_dict = {"key_course": "data science", "duration":200}

In [63]:
my_dict

{'key_course': 'data science', 'duration': 200}

In [64]:
#use cases of dictionary
phonebook = {"dad":12233, "mom":234}

In [65]:
phonebook

{'dad': 12233, 'mom': 234}

In [66]:
#ccess
phonebook["dad"]

12233

In [67]:
phonebook = {"dad": 12233, "mom":234, "dad":456}

In [68]:
phonebook["dad"]

456

In [69]:
phonebook["dad"] = 987

In [70]:
phonebook

{'dad': 987, 'mom': 234}

In [71]:
phonebook.keys()

dict_keys(['dad', 'mom'])

In [72]:
phonebook.values()

dict_values([987, 234])

In [73]:
#array(array is similar to list)
from array import array
#array is similar to list but it stores only homogenous data that's why it is fast
array('i' , [1, 2, 3, 4])

array('i', [1, 2, 3, 4])

In [74]:
#string
s = 'komal'
type(s)

str

In [75]:
for i in s:
    print(i)

k
o
m
a
l

In [ ]:
#string is immutable data 
#string is a sequence of character >represnt and manipulate textual data
#charcters are represetnted using numerical values>.even character is assigned a unique value
#ASCII (7 bits) and UNICODE (16 bits)>>ascii >> 2 to power 8>>128 charcter has been encoded whereas utf is 2 to power 16 , almost covered every character of every language
#UTF-8, UTF 16 >> popular encoding schemes for unicode>> widely accepted in industies
#Ascii>>American standard code for informative interchange
#UTF (unicode tranformation format)

In [76]:
#ASCII representation
char = "A"
ord(char) #ord>ordinal,means what is numerical value of character

65

In [77]:
chr(65) #characters>> give the character corresponding to that no

'A'

In [78]:
ord("a")

97

In [ ]:
#UNICODE REPRESENTATION
#Omega

In [79]:
'\u03A9'

'Ω'

In [80]:
'\u0999'

'ঙ'

In [81]:
'\u0974'

'ॴ'

In [82]:
#strings
string1 = "hello"
string1 = 'hello'
string1

'hello'

In [83]:
type(string1)

str

In [87]:
#can we define string in multiline
'''I"m a student
I study in Gndec
I am a data scintist'''

'I"m a student\nI study in Gndec\nI am a data scintist'

In [88]:
#concatenation of strings>> combination of two sring
"Hello" + " world"

'Hello world'

In [89]:
string1 = "hello"
string2 = "world!"
string1 + " , "+string2

'hello , world!'

In [90]:
"string" + ">>" +"concatenation"

'string>>concatenation'

In [91]:
"string" + "$>" +"concatenation"

'string$>concatenation'

In [92]:
#Extract/slicing of string
a = "Komal"
a[0]

'K'

In [93]:
a[5]

IndexError: string index out of range

In [94]:
string1 = "i am hard working"
string1[0:4] #4 is exclusive [a, b]>> it will give result till b-1 index

'i am'

In [95]:
#slicing
string1[0:] #start_index:end_index>>  if you not provide end index, it will be default give substring till the last index

'i am hard working'

In [96]:
string1[3:]

'm hard working'

In [98]:
string2 = "hustle"
string2[1]

'u'

In [99]:
#except the last three character
string2[:-3]

'hus'

In [100]:
#you want only last character
string2[-3:]

'tle'

In [101]:
string2 = "hello world!"

In [102]:
string2[0:5:1] #by default step is1 #syntax[start:end :step]

'hello'

In [103]:
string2[::1]

'hello world!'

In [104]:
string2[::2]

'hlowrd'

In [105]:
string2[::3]

'hlwl'

In [106]:
string2[::-1] #iterate over the sequence in reverse order
#it means start from end,move to beginning on dstep backwords by one charecter

'!dlrow olleh'

In [108]:
#strings are immutable
s = "komalll"
s[0]

'k'

In [109]:
s[0] = "a"

TypeError: 'str' object does not support item assignment

In [2]:
#no of charcaters
s = "komalll"
len(s)

7

In [3]:
#modification of string
s = "i m a student"
s.replace("student", "teacher")

'i m a teacher'

In [4]:
#use case
address = "123 sbs nagar, pune"
address

'123 sbs nagar, pune'

In [5]:
address.replace("sbs", "gill road")

'123 gill road nagar, pune'

In [1]:
text = "hello"
text.lower()

'hello'

In [2]:
text.upper()

'HELLO'

In [3]:
text.title()

'Hello'

In [4]:
text = "i m girl"
text.swapcase()

'I M GIRL'

In [5]:
text.capitalize()

'I m girl'

In [6]:
#string searching
sentence = "i m trying to learning"
"m" in sentence

True

In [7]:
sentence = "i m trying to learning"
search_word = "m"
if search_word in sentence:
    print("present")
else:
    print("not present")

present

In [10]:
#string comparison
str1 = "Hello"
str2 = "hello"
str1 == str2

False

In [9]:
str1 = "hw"
str2 = "k"
str1 == str2

False

In [11]:
str1 = "Hello"
str2 = "hello"
str1.lower() == str2.lower()

True

In [12]:
reg_username = ["km", "km", "km"]
new_user = "km1"
if new_user in reg_username:
    print("already in use")
else:
    print("username is available")

username is available

In [14]:
product_code = "P123"
scanned_code = input("scan thhe product code")
if product_code == scanned_code:
    print("the price is 100")
else:
    print("talk to someone")

talk to someone

In [15]:
#string ordering
name = ["k", "m","r"]
sorted(name)

['k', 'm', 'r']

In [16]:
#common string operations
input_str = "    k    "
input_str

'    k    '

In [17]:
input_str.strip()

'k'

In [20]:
#string splitting
data = "k, d, m"
data

'k, d, m'

In [22]:
teacher_info =data.split(',')

In [23]:
teacher_info

['k', ' d', ' m']

In [24]:
name = teacher_info[0]
sub = teacher_info[1]
des = teacher_info[2]

In [25]:
name

'k'

In [26]:
sub

' d'

In [27]:
des

' m'

In [28]:
des.strip()

'm'

In [31]:
#escape sequence >> special combination of charcaters used within a string
address = """123, jalandhar,pind 
nehera
rau road
"""

In [32]:
address

'123, jalandhar,pind \nnehera\nrau road\n'

In [33]:
print(address)

123, jalandhar,pind
nehera
rau road

In [37]:
address = """123, jalandhar,pind,\nnehera,\nrau road"""

In [38]:
print(address) #\n >> to insert a newline character

123, jalandhar,pind,
nehera,
rau road

In [39]:
#\t escape charcater \t >. tab
table = "name\tage\tgrade\najay\t2`\tA\nBijay\t22"
table

'name\tage\tgrade\najay\t2`\tA\nBijay\t22'

In [40]:
print(table)

name	age	grade
ajay	2`	A
Bijay	22

In [41]:
file_path = "C:\\USERS\\DOWNLOADS\\FILES.txt"
file_path

'C:\\USERS\\DOWNLOADS\\FILES.txt'

In [42]:
print(file_path)

C:\USERS\DOWNLOADS\FILES.txt

In [43]:
#\' single quote escape
str1 = 'I can\'t believe its friday'
print(str1)

I can't believe its friday

In [45]:
#carriage return \r >> moves the cursor to the beginning of line
print("hello, i m\r komal, i live in ludhiana")

 komal, i live in ludhiana

In [47]:
#string formatting >> creating string with placeholder for variables
print("my name is komal")
print("my name is ruhi")
print("my name is geeta ")

my name is komal
my name is ruhi
my name is geeta

In [1]:
name = "komal"
greetings = f"hello {name}, how are you?"
print(greetings)

hello komal, how are you?

In [2]:
#string formatting
name = "KT hall"
greeting = "Hello %s, wish you a wonderful day"%name
print(greeting)

Hello KT hall, wish you a wonderful day

In [3]:
#.format
template = "hello, {} welcome to {}"
message = template.format("Komal", "DS")
print(message)

hello, Komal welcome to DS

In [4]:
#f string (formatted string literals)
course = "pw data + frontend"
duration = 4
f"My course is {course} and its duration is 4 years."

'My course is pw data + frontend and its duration is 4 years.'

In [5]:
user_name = "Komal"
post_date = "2024-07-13"

print(f"Hello user, {user_name}, Today is {post_date} post.")

Hello user, Komal, Today is 2024-07-13 post.

In [6]:
celsius = 80
f"{celsius} is equals to {(celsius + 9/5)+32}F"

'80 is equals to 113.8F'

In [8]:
str1 = "komal"
str1.startwith("k")

AttributeError: 'str' object has no attribute 'startwith'

In [9]:
str1 = "komal"
str1.startswith("k")

True

In [10]:
a = "234"
a.isalnum()

True

In [11]:
s = "kt"
len(s)

2

In [12]:
count = 0
for i in s:
    print(i)
    count = count+1
    print(count)

k
1
t
2