In [ ]:
#list are ordered collection of items
#[]
#list is like a shopping bag which store everything

In [1]:
type([])

list

In [2]:
grocery_list = ["k", "m", 1, 2.3, True, 5+6j]

In [3]:
type(grocery_list)

list

In [4]:
#lists are mutable

In [5]:
grocery_list[0]

'k'

In [6]:
grocery_list[1:]

['m', 1, 2.3, True, (5+6j)]

In [7]:
queue = ["k", "l","uy","ft"]
queue[-1]

'ft'

In [9]:
queue.append("a")

In [10]:
queue

['k', 'l', 'uy', 'ft', 'a']

In [11]:
#use cases
playlist = []
playlist.append("sare jahan se acha")
playlist.append("zindagi")
playlist.append("u r mine")

In [12]:
playlist

['sare jahan se acha', 'zindagi', 'u r mine']

In [3]:
lis = ["aple", "mango", "orange"]

In [4]:
lis

['aple', 'mango', 'orange']

In [5]:
lis[1] = "brinjal"

In [6]:
lis

['aple', 'brinjal', 'orange']

In [9]:
lis.append("mango")

In [10]:
lis

['aple', 'brinjal', 'orange', 'aple', 'mango']

In [11]:
lis.insert(1, "potato") # insert object before index.

In [12]:
lis

['aple', 'potato', 'brinjal', 'orange', 'aple', 'mango']

In [13]:
#use case
bus_seat = ["komal", "ruhi", "sush"]
bus_seat.insert(2, "khushi")

In [14]:
bus_seat

['komal', 'ruhi', 'khushi', 'sush']

In [15]:
#extend >> used to append elements from another list
my_list = ["apple", "banaana", "orange"]

In [16]:
brothers_list = ["brinjal", "potato"]

In [17]:
my_list

['apple', 'banaana', 'orange']

In [18]:
my_list.extend(brothers_list) #will extend the first list

In [19]:
my_list

['apple', 'banaana', 'orange', 'brinjal', 'potato']

In [21]:
my_list = ["apple", "banaana", "orange"]
brothers_list = ["brinjal", "potato"]
brothers_list.extend(my_list)

In [22]:
brothers_list

['brinjal', 'potato', 'apple', 'banaana', 'orange']

In [23]:
my_list

['apple', 'banaana', 'orange']

In [24]:
#concatenation
my_list = ["apple", "banaana", "orange"]
brothers_list = ["brinjal", "potato"]
my_list = brothers_list

In [25]:
my_list

['brinjal', 'potato']

In [26]:
#repeatation operation

"*" * 15

'***************'

In [27]:
"-" * 10

'----------'

In [28]:
[0]*10

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [29]:
[1, 2, 3] * 5

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [31]:
list(range(10)) * 3

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9]

In [32]:
msg = "your  appointed is tommorow \n"
print(msg*3)

your  appointed is tommorow
your  appointed is tommorow
your  appointed is tommorow

In [39]:
#membership in , not in

grocery_list = ["daal", "rice", "jira"]
grocery_list

['daal', 'rice', 'jira']

In [40]:
"daal" in grocery_list

True

In [41]:
"lemon" in grocery_list

False

In [42]:
"lemon" not in grocery_list

True

In [43]:
#deep copy and shallow copy(imp)
#shallow copy >>value will change with change in other list
grocery_list

['daal', 'rice', 'jira']

In [44]:
a = grocery_list #shallow copy

In [45]:
a

['daal', 'rice', 'jira']

In [46]:
a[0] = "oil"

In [47]:
a

['oil', 'rice', 'jira']

In [48]:
grocery_list

['oil', 'rice', 'jira']

In [1]:
a = ["A", "B"]
a

['A', 'B']

In [3]:
#deep copy >> will not change the value in another list
grocery_list =["oil", "kutu atta","rice"]
grocery_list

['oil', 'kutu atta', 'rice']

In [4]:
b = grocery_list.copy() #it will changr to the different memory location

In [5]:
b[0] ="milk"

In [6]:
grocery_list

['oil', 'kutu atta', 'rice']

In [7]:
#sorting list
book_list = ["Data str", 'algorithm', "web"]

In [8]:
sorted(book_list)

['Data str', 'algorithm', 'web']

In [10]:
book_list.index("algorithm") #returns the index of first occurence

1

In [11]:
book_list.index('web')

2

In [12]:
len(book_list)

3

In [13]:
book_list.count("algorithm") #count gives the count of a specific element in a list

1

In [19]:
book_list.remove("algorithm")

In [20]:
book_list

['web']

In [21]:
del book_list

In [22]:
book_list #deletes the variables/list

NameError: name 'book_list' is not defined

In [23]:
book_list = ["Data str", 'algorithm', "web"]
book_list.clear() #deletes the element of list,but variables will not be deleted

In [24]:
book_list

[]

In [26]:
book_list = ["Data str", 'algorithm', "web"]
book_list.pop() #removes the last element

'web'

In [27]:
book_list

['Data str', 'algorithm']

In [28]:
book_list.pop(1)

'algorithm'

In [29]:
book_list

['Data str']

In [30]:
#list comprehension (for concise code)
prices = [10, 20, 30, 40, 50]
doubled_price = []
for i in prices:
    doubled_price.append(i*2)

In [31]:
doubled_price

[20, 40, 60, 80, 100]

In [32]:
[price * 2 for price in prices]

[20, 40, 60, 80, 100]

In [33]:
doubled_price = [price * 2 for price in prices]

In [34]:
doubled_price

[20, 40, 60, 80, 100]

In [36]:
names = ["a", "b", "c"]
[name.capitalize() for name in names]

['A', 'B', 'C']

In [37]:
#usecases
numbers = [1, 2, 3, 4, 5]
[num**2 for num in numbers]

[1, 4, 9, 16, 25]

In [39]:
str1 = "doc1.ppt"
str1.split(".")[-1]

'ppt'

In [40]:
file_name = ["doc1.ppt", "doc2.pdf", "doc3.jpg"]
[file.split(".")[-1] for file in file_name]

['ppt', 'pdf', 'jpg']

In [41]:
#conditional list comprehension
email_address = ["k@gmail.com", "sk@yahoo.com"]
[email for email in email_address if email.endswith("@yahoo.com")]

['sk@yahoo.com']

In [42]:
#nested list comprehension
pairs = []
for x in [1, 2, 3]:
    for y in [4, 5, 6]:
        pairs.append([x, y])
        pairs

In [43]:
pairs

[[1, 4], [1, 5], [1, 6], [2, 4], [2, 5], [2, 6], [3, 4], [3, 5], [3, 6]]

In [44]:
[[x, y] for x in[1, 2, 3] for y in [4, 5, 6]]

[[1, 4], [1, 5], [1, 6], [2, 4], [2, 5], [2, 6], [3, 4], [3, 5], [3, 6]]

In [1]:
#list as stack and queue(optional)
#LIFO >> last in first out principles>> the last elemsnts added to the first one to the removed
#only one end
stack_of_plates = []
stack_of_plates.append("plates1")
stack_of_plates.append("plates2")
stack_of_plates.append("plates3")
stack_of_plates.append("plates4")

In [2]:
stack_of_plates

['plates1', 'plates2', 'plates3', 'plates4']

In [3]:
stack_of_plates.pop()

'plates4'

In [4]:
stack_of_plates

['plates1', 'plates2', 'plates3']

In [5]:
#use case
browsing_histor = []
browsing_histor.append("home page")
browsing_histor.append("about us")

In [6]:
browsing_histor

['home page', 'about us']

In [7]:
browsing_histor.pop()

'about us'

In [8]:
browsing_histor

['home page']

In [9]:
#queue >> follows first in first out
#it works in orderly sequential manner
#two enda
#library >> collection of multiple python scripts(modules) it is use to reuse the code

from collections import deque 
#collection is a library and deque is a module
checkout = deque()
checkout.append("cus1")
checkout.append("cus2")
checkout.append("cus3")
checkout.append("cus4")
checkout.append("cus5")

In [10]:
checkout

deque(['cus1', 'cus2', 'cus3', 'cus4', 'cus5'])

In [11]:
while checkout:
    customer = checkout.popleft()
    print("serving", customer)

serving cus1
serving cus2
serving cus3
serving cus4
serving cus5

In [13]:
queue = ["first pdf", "2pdf","3pdf"]

In [14]:
queue

['first pdf', '2pdf', '3pdf']

In [15]:
from queue import Queue
print_queue = queue()
print_queue.put("print the first pdf")
print_queue.put("print the 2 pdf")
print_queue.put("print the 3 pdf")

while not print_queue.empty():
    print_job = print_queue.get() #get is similar pop
    print("printing", print_job)

TypeError: 'list' object is not callable