In [ ]:
#tuples are ordered collection of elements, heterogenous
#tuples are immutable

In [1]:
t = ()

In [2]:
type(t)

tuple

In [3]:
t = ("pwskills", "komal", 2 ,2.3, True, 5+6j)

In [4]:
type(t)

tuple

In [5]:
t[0]

'pwskills'

In [6]:
t[-1]

(5+6j)

In [7]:
#tuples are immutable
t[0] = 100

TypeError: 'tuple' object does not support item assignment

In [12]:
empid = (1, 2, 3, 4, 50) #use tuples as a data structure where you don't want to modify the data
empid[1] = 100

TypeError: 'tuple' object does not support item assignment

In [11]:
empid

[1, 100, 3, 4, 5]

In [13]:
tuple1 = ("pwskills", 1, 1, 1, 2, 2.2)
tuple1.count(1)

3

In [15]:
tuple1.index("pwskills")

0

In [16]:
print(tuple1*2)

('pwskills', 1, 1, 1, 2, 2.2, 'pwskills', 1, 1, 1, 2, 2.2)

In [17]:
tuple1

('pwskills', 1, 1, 1, 2, 2.2)

In [18]:
#slicing
tuple1[0:4]

('pwskills', 1, 1, 1)

In [19]:
tuple1[::-1]

(2.2, 2, 1, 1, 1, 'pwskills')

In [20]:
#ierate tuple yes you can
for i in tuple1:
    print(i, type(i))

pwskills <class 'str'>
1 <class 'int'>
1 <class 'int'>
1 <class 'int'>
2 <class 'int'>
2.2 <class 'float'>

In [21]:
t1 = (1, 2, 100, 0 ,200)
max(t1)

200

In [22]:
min(t1)

0

In [23]:
t2 = (19, 34)
t2

(19, 34)

In [24]:
t1

(1, 2, 100, 0, 200)

In [25]:
t3 = (t1, t2) #nested tuples
t3

((1, 2, 100, 0, 200), (19, 34))

In [26]:
type(t3)

tuple

In [27]:
del t3

In [28]:
t3

NameError: name 't3' is not defined

In [29]:
t1

(1, 2, 100, 0, 200)

In [30]:
len(t1)

5

In [31]:
t1

(1, 2, 100, 0, 200)

In [32]:
1 in t1

True

In [34]:
#combine both the tuples
t1+t2

(19, 34, 19, 34)

In [ ]:
#sets>> sets are unordered and unique collection of elements
#does not allow any duplicate elements
#unordered >> indexing will not work
# define using{}
#sets are mutable

In [35]:
s = {}
type(s)

dict

In [36]:
s = {5}
type(s)

set

In [37]:
s = {1, 2, 1, 2, 2, "komal", "komal", "komal"}
s

{1, 2, 'komal'}

In [38]:
#use case 
list1 = [1, 2, 3, "brinjal", "apple", "apple"]
s = set(list1)

In [39]:
s

{1, 2, 3, 'apple', 'brinjal'}

In [40]:
list1 = list(s)

In [41]:
list1

[1, 2, 3, 'brinjal', 'apple']

In [42]:
s

{1, 2, 3, 'apple', 'brinjal'}

In [43]:
s[0] # as set is unordered that is why it will not allow indexing

TypeError: 'set' object is not subscriptable

In [44]:
s = {1,1,2,2,3,4}
s

{1, 2, 3, 4}

In [45]:
s = {1,2,3,4,5,{6,7,8}} #set inside set must be immutable

TypeError: unhashable type: 'set'

In [46]:
#unhashable means it is mutable_list, set
s = {1,2,3,4,5,(6,7,8)}  # tuples are immutable that is why it is not showing any error

In [47]:
s

{(6, 7, 8), 1, 2, 3, 4, 5}

In [48]:
# immutable data structure has a stable hash values
s

{(6, 7, 8), 1, 2, 3, 4, 5}

In [49]:
s[0] # not allowing indexing as it is unordred

TypeError: 'set' object is not subscriptable

In [50]:
#iteration
for i in s:
    print(i)

1
2
3
4
5
(6, 7, 8)

In [51]:
#set is mutable
s.add(100) # not compulsory that it will add to the last of list

In [52]:
s

{(6, 7, 8), 1, 100, 2, 3, 4, 5}

In [53]:
s.pop() #it is not compulsory it will remove the last elements

1

In [54]:
s

{(6, 7, 8), 100, 2, 3, 4, 5}

In [55]:
s.remove(3) #removes a specific element

In [56]:
s

{(6, 7, 8), 100, 2, 4, 5}

In [57]:
s.pop(4) #it removes randomly so it cannot pass any parameter something like this

TypeError: set.pop() takes no arguments (1 given)

In [58]:
s.remove(102)

KeyError: 102

In [60]:
s.update("komal")
s

{(6, 7, 8), 100, 2, 4, 5, 'a', 'k', 'l', 'm', 'o'}

In [61]:
s.update(["komal"])
s

{(6, 7, 8), 100, 2, 4, 5, 'a', 'k', 'komal', 'l', 'm', 'o'}

In [62]:
s = {(1,2,3), 100, '2',}
s

{(1, 2, 3), 100, '2'}

In [63]:
type(s)

set

In [64]:
s.clear()
s

set()

In [65]:
del s

In [66]:
s

NameError: name 's' is not defined

In [68]:
s = {(1,2,3), 100,101, 102,'2'}

In [69]:
s.remove(101)

In [70]:
s

{(1, 2, 3), 100, 102, '2'}

In [71]:
s.remove(110)

KeyError: 110

In [72]:
s

{(1, 2, 3), 100, 102, '2'}

In [73]:
s.discard(100)
s

{(1, 2, 3), 102, '2'}

In [74]:
s.discard(110) # error will not be thrown unlikely remove if the element is not present
s

{(1, 2, 3), 102, '2'}

In [ ]:
#set operations
#Union:combines elements from two sets excluding duplicates
#intersection: only common elements btw sets
#difference: return the elements that is present in first set and not in second
#symmetric difference: returns element that are present in either of sets but not in

In [1]:
s1 = {"hiking", "reading", "coding"}
s2 = {"coding", "photography","travelling"}

In [2]:
s1

{'coding', 'hiking', 'reading'}

In [3]:
s2

{'coding', 'photography', 'travelling'}

In [4]:
#union >> combine all the elements
s1 | s2

{'coding', 'hiking', 'photography', 'reading', 'travelling'}

In [5]:
#intersection >> common elements
s1 & s2

{'coding'}

In [6]:
#difference
s1 - s2

{'hiking', 'reading'}

In [7]:
#symmetric difference
s1 ^ s2

{'hiking', 'photography', 'reading', 'travelling'}

In [8]:
#frozen sets
s = {1,2,3}
s.add(100)

In [9]:
s

{1, 2, 3, 100}

In [10]:
#frozen sets >> immutable version of set , cannot be added or removed any new element
my_fs = frozenset([1,2,3,3,4,5])

In [11]:
my_fs

frozenset({1, 2, 3, 4, 5})

In [12]:
my_fs.add(5)

AttributeError: 'frozenset' object has no attribute 'add'

In [13]:
type(my_fs)

frozenset